// Font sizes and colors
$base-font-size: 16;
$primary-font-family: 'Lato', sans-serif;
$primary-text-color: #3C3C3C;
$text-accent-color: #A30E0A;
$light-gray: #DFDFDF;

// Transitions
$transition-duration: 0.4s;

$second-nav-padding: 25px 0;

